BoundaryWebServiceClients/GeneratedCode/wsdl/AdminService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/admin" name="admin-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/admin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/security/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/security/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="groupTO">
        <xs:complexContent>
          <xs:extension base="tns:groupSummaryTO">
            <xs:sequence>
              <xs:element name="groupRoles" type="tns:groupRoleTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="groupSummaryTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="groupRoleTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="groupId" type="xs:string" minOccurs="0"/>
              <xs:element name="roleCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="roleTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userTO">
        <xs:complexContent>
          <xs:extension base="tns:userSummaryTO">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="password" type="xs:string" minOccurs="0"/>
              <xs:element name="pasword" type="xs:string" minOccurs="0"/>
              <xs:element name="userGroups" type="tns:userGroupTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="userName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userSummaryTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="firstName" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userGroupTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="groupId" type="xs:string" minOccurs="0"/>
              <xs:element name="userId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/admin" xmlns:ns2="http://webservices.sola.org/transferobjects/" xmlns:ns4="http://webservices.sola.org/faults/" xmlns:ns3="http://webservices.sola.org/transferobjects/security/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/security/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="ChangePassword" type="tns:ChangePassword"/>

      <xs:element name="ChangePasswordResponse" type="tns:ChangePasswordResponse"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetAllSettings" type="tns:GetAllSettings"/>

      <xs:element name="GetAllSettingsResponse" type="tns:GetAllSettingsResponse"/>

      <xs:element name="GetBr" type="tns:GetBr"/>

      <xs:element name="GetBrResponse" type="tns:GetBrResponse"/>

      <xs:element name="GetCurrentUser" type="tns:GetCurrentUser"/>

      <xs:element name="GetCurrentUserResponse" type="tns:GetCurrentUserResponse"/>

      <xs:element name="GetCurrentUserRoles" type="tns:GetCurrentUserRoles"/>

      <xs:element name="GetCurrentUserRolesResponse" type="tns:GetCurrentUserRolesResponse"/>

      <xs:element name="GetGroup" type="tns:GetGroup"/>

      <xs:element name="GetGroupResponse" type="tns:GetGroupResponse"/>

      <xs:element name="GetGroups" type="tns:GetGroups"/>

      <xs:element name="GetGroupsResponse" type="tns:GetGroupsResponse"/>

      <xs:element name="GetGroupsSummary" type="tns:GetGroupsSummary"/>

      <xs:element name="GetGroupsSummaryResponse" type="tns:GetGroupsSummaryResponse"/>

      <xs:element name="GetLanguages" type="tns:GetLanguages"/>

      <xs:element name="GetLanguagesResponse" type="tns:GetLanguagesResponse"/>

      <xs:element name="GetRoles" type="tns:GetRoles"/>

      <xs:element name="GetRolesResponse" type="tns:GetRolesResponse"/>

      <xs:element name="GetSetting" type="tns:GetSetting"/>

      <xs:element name="GetSettingResponse" type="tns:GetSettingResponse"/>

      <xs:element name="GetUser" type="tns:GetUser"/>

      <xs:element name="GetUserResponse" type="tns:GetUserResponse"/>

      <xs:element name="IsUserAdmin" type="tns:IsUserAdmin"/>

      <xs:element name="IsUserAdminResponse" type="tns:IsUserAdminResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SOLAValidationFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SaveBr" type="tns:SaveBr"/>

      <xs:element name="SaveBrResponse" type="tns:SaveBrResponse"/>

      <xs:element name="SaveGroup" type="tns:SaveGroup"/>

      <xs:element name="SaveGroupResponse" type="tns:SaveGroupResponse"/>

      <xs:element name="SaveRole" type="tns:SaveRole"/>

      <xs:element name="SaveRoleResponse" type="tns:SaveRoleResponse"/>

      <xs:element name="SaveUser" type="tns:SaveUser"/>

      <xs:element name="SaveUserResponse" type="tns:SaveUserResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:complexType name="GetAllSettings">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetAllSettingsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:settingTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="settingTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractTO">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="value" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGroups">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetGroupsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:groupTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRoles">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetRolesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:roleTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveBr">
        <xs:sequence>
          <xs:element name="br" type="tns:brTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="brTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="brDefinitionList" type="tns:brDefinitionTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="brValidationList" type="tns:brValidationTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="displayName" type="xs:string" minOccurs="0"/>
              <xs:element name="feedback" type="xs:string" minOccurs="0"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="technicalDescription" type="xs:string" minOccurs="0"/>
              <xs:element name="technicalTypeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brDefinitionTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="activeFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="activeUntil" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="body" type="xs:string" minOccurs="0"/>
              <xs:element name="brId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brValidationTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="brId" type="xs:string" minOccurs="0"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="orderOfExecution" type="xs:int"/>
              <xs:element name="severityCode" type="xs:string" minOccurs="0"/>
              <xs:element name="targetApplicationMoment" type="xs:string" minOccurs="0"/>
              <xs:element name="targetCode" type="xs:string" minOccurs="0"/>
              <xs:element name="targetRegMoment" type="xs:string" minOccurs="0"/>
              <xs:element name="targetRequestTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="targetRrrTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="targetServiceMoment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="SaveBrResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:brTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetLanguages">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetLanguagesResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:languageTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="languageTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractTO">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="displayValue" type="xs:string" minOccurs="0"/>
              <xs:element name="isDefault" type="xs:boolean"/>
              <xs:element name="itemOrder" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="GetSetting">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSettingResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGroup">
        <xs:sequence>
          <xs:element name="groupId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:groupTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveUser">
        <xs:sequence>
          <xs:element name="userTO" type="ns3:userTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveUserResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:userTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCurrentUserRoles">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetCurrentUserRolesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:roleTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCurrentUser">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetCurrentUserResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:userTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGroupsSummary">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetGroupsSummaryResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:groupSummaryTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBr">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="lang" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:brTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveGroup">
        <xs:sequence>
          <xs:element name="groupTO" type="ns3:groupTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:groupTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveRole">
        <xs:sequence>
          <xs:element name="roleTO" type="ns3:roleTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveRoleResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:roleTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="IsUserAdmin">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="IsUserAdminResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChangePassword">
        <xs:sequence>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChangePasswordResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUser">
        <xs:sequence>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUserResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:userTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns5:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractCodeTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="displayValue" type="xs:string" minOccurs="0"/>
              <xs:element name="status" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="GetCurrentUser">
    <part name="parameters" element="tns:GetCurrentUser"/>
  </message>
  <message name="GetCurrentUserResponse">
    <part name="parameters" element="tns:GetCurrentUserResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="GetGroupsSummary">
    <part name="parameters" element="tns:GetGroupsSummary"/>
  </message>
  <message name="GetGroupsSummaryResponse">
    <part name="parameters" element="tns:GetGroupsSummaryResponse"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="GetCurrentUserRoles">
    <part name="parameters" element="tns:GetCurrentUserRoles"/>
  </message>
  <message name="GetCurrentUserRolesResponse">
    <part name="parameters" element="tns:GetCurrentUserRolesResponse"/>
  </message>
  <message name="ChangePassword">
    <part name="parameters" element="tns:ChangePassword"/>
  </message>
  <message name="ChangePasswordResponse">
    <part name="parameters" element="tns:ChangePasswordResponse"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="GetAllSettings">
    <part name="parameters" element="tns:GetAllSettings"/>
  </message>
  <message name="GetAllSettingsResponse">
    <part name="parameters" element="tns:GetAllSettingsResponse"/>
  </message>
  <message name="GetGroups">
    <part name="parameters" element="tns:GetGroups"/>
  </message>
  <message name="GetGroupsResponse">
    <part name="parameters" element="tns:GetGroupsResponse"/>
  </message>
  <message name="GetUser">
    <part name="parameters" element="tns:GetUser"/>
  </message>
  <message name="GetUserResponse">
    <part name="parameters" element="tns:GetUserResponse"/>
  </message>
  <message name="GetGroup">
    <part name="parameters" element="tns:GetGroup"/>
  </message>
  <message name="GetGroupResponse">
    <part name="parameters" element="tns:GetGroupResponse"/>
  </message>
  <message name="GetLanguages">
    <part name="parameters" element="tns:GetLanguages"/>
  </message>
  <message name="GetLanguagesResponse">
    <part name="parameters" element="tns:GetLanguagesResponse"/>
  </message>
  <message name="SaveUser">
    <part name="parameters" element="tns:SaveUser"/>
  </message>
  <message name="SaveUserResponse">
    <part name="parameters" element="tns:SaveUserResponse"/>
  </message>
  <message name="SaveGroup">
    <part name="parameters" element="tns:SaveGroup"/>
  </message>
  <message name="SaveGroupResponse">
    <part name="parameters" element="tns:SaveGroupResponse"/>
  </message>
  <message name="GetRoles">
    <part name="parameters" element="tns:GetRoles"/>
  </message>
  <message name="GetRolesResponse">
    <part name="parameters" element="tns:GetRolesResponse"/>
  </message>
  <message name="SaveRole">
    <part name="parameters" element="tns:SaveRole"/>
  </message>
  <message name="SaveRoleResponse">
    <part name="parameters" element="tns:SaveRoleResponse"/>
  </message>
  <message name="IsUserAdmin">
    <part name="parameters" element="tns:IsUserAdmin"/>
  </message>
  <message name="IsUserAdminResponse">
    <part name="parameters" element="tns:IsUserAdminResponse"/>
  </message>
  <message name="GetBr">
    <part name="parameters" element="tns:GetBr"/>
  </message>
  <message name="GetBrResponse">
    <part name="parameters" element="tns:GetBrResponse"/>
  </message>
  <message name="SaveBr">
    <part name="parameters" element="tns:SaveBr"/>
  </message>
  <message name="SaveBrResponse">
    <part name="parameters" element="tns:SaveBrResponse"/>
  </message>
  <message name="SOLAValidationFault">
    <part name="fault" element="tns:SOLAValidationFault"/>
  </message>
  <message name="GetSetting">
    <part name="parameters" element="tns:GetSetting"/>
  </message>
  <message name="GetSettingResponse">
    <part name="parameters" element="tns:GetSettingResponse"/>
  </message>
  <portType name="Admin">
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="GetCurrentUser">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRequest" message="tns:GetCurrentUser"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserResponse" message="tns:GetCurrentUserResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUser/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUser/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetGroupsSummary">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummaryRequest" message="tns:GetGroupsSummary"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummaryResponse" message="tns:GetGroupsSummaryResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCurrentUserRoles">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRolesRequest" message="tns:GetCurrentUserRoles"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRolesResponse" message="tns:GetCurrentUserRolesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRoles/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRoles/Fault/UnhandledFault"/>
    </operation>
    <operation name="ChangePassword">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/ChangePasswordRequest" message="tns:ChangePassword"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/ChangePasswordResponse" message="tns:ChangePasswordResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/OptimisticLockingFault"/>
    </operation>
    <operation name="GetAllSettings">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetAllSettingsRequest" message="tns:GetAllSettings"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetAllSettingsResponse" message="tns:GetAllSettingsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetAllSettings/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetAllSettings/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetAllSettings/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetGroups">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsRequest" message="tns:GetGroups"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsResponse" message="tns:GetGroupsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetUser">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetUserRequest" message="tns:GetUser"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetUserResponse" message="tns:GetUserResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetGroup">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupRequest" message="tns:GetGroup"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupResponse" message="tns:GetGroupResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetLanguages">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguagesRequest" message="tns:GetLanguages"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguagesResponse" message="tns:GetLanguagesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguages/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguages/Fault/UnhandledFault"/>
    </operation>
    <operation name="SaveUser">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveUserRequest" message="tns:SaveUser"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveUserResponse" message="tns:SaveUserResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/UnhandledFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveGroup">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroupRequest" message="tns:SaveGroup"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroupResponse" message="tns:SaveGroupResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/UnhandledFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetRoles">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetRolesRequest" message="tns:GetRoles"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetRolesResponse" message="tns:GetRolesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveRole">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveRoleRequest" message="tns:SaveRole"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveRoleResponse" message="tns:SaveRoleResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/OptimisticLockingFault"/>
    </operation>
    <operation name="IsUserAdmin">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdminRequest" message="tns:IsUserAdmin"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdminResponse" message="tns:IsUserAdminResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdmin/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdmin/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetBr">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetBrRequest" message="tns:GetBr"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetBrResponse" message="tns:GetBrResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveBr">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveBrRequest" message="tns:SaveBr"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveBrResponse" message="tns:SaveBrResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAValidationFault"/>
    </operation>
    <operation name="GetSetting">
      <input wsam:Action="http://webservices.sola.org/admin/Admin/GetSettingRequest" message="tns:GetSetting"/>
      <output wsam:Action="http://webservices.sola.org/admin/Admin/GetSettingResponse" message="tns:GetSettingResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetSetting/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetSetting/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetSetting/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="AdminPortBinding" type="tns:Admin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCurrentUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetGroupsSummary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCurrentUserRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChangePassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetAllSettings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetGroups">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetLanguages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
    <operation name="IsUserAdmin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveBr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSetting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="admin-service">
    <port name="AdminPort" binding="tns:AdminPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

