BoundaryWebServiceClients/GeneratedCode/wsdl/AdministrativeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/administrative" name="administrative-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/administrative" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns2="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:complexType name="partySummaryTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="extId" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="acceptance" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="archiveDocument" type="ns2:documentTO" minOccurs="0"/>
              <xs:element name="archiveDocumentId" type="xs:string" minOccurs="0"/>
              <xs:element name="archiveId" type="xs:string" minOccurs="0"/>
              <xs:element name="availabilityStatusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="content" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="laNr" type="xs:string" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="mainType" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
              <xs:element name="recordation" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="submission" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/administrative" xmlns:ns4="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns3="http://webservices.sola.org/transferobjects/administrative/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns6="http://webservices.sola.org/faults/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/administrative/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CancelBaUnitTermination" type="tns:CancelBaUnitTermination"/>

      <xs:element name="CancelBaUnitTerminationResponse" type="tns:CancelBaUnitTerminationResponse"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="CreateBaUnit" type="tns:CreateBaUnit"/>

      <xs:element name="CreateBaUnitArea" type="tns:CreateBaUnitArea"/>

      <xs:element name="CreateBaUnitAreaResponse" type="tns:CreateBaUnitAreaResponse"/>

      <xs:element name="CreateBaUnitResponse" type="tns:CreateBaUnitResponse"/>

      <xs:element name="GetBaUnitAreas" type="tns:GetBaUnitAreas"/>

      <xs:element name="GetBaUnitAreasResponse" type="tns:GetBaUnitAreasResponse"/>

      <xs:element name="GetBaUnitByCode" type="tns:GetBaUnitByCode"/>

      <xs:element name="GetBaUnitByCodeResponse" type="tns:GetBaUnitByCodeResponse"/>

      <xs:element name="GetBaUnitById" type="tns:GetBaUnitById"/>

      <xs:element name="GetBaUnitByIdResponse" type="tns:GetBaUnitByIdResponse"/>

      <xs:element name="GetBaUnitWithCadObject" type="tns:GetBaUnitWithCadObject"/>

      <xs:element name="GetBaUnitWithCadObjectResponse" type="tns:GetBaUnitWithCadObjectResponse"/>

      <xs:element name="GetBaUnitsByServiceId" type="tns:GetBaUnitsByServiceId"/>

      <xs:element name="GetBaUnitsByServiceIdResponse" type="tns:GetBaUnitsByServiceIdResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SOLAValidationFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SaveBaUnit" type="tns:SaveBaUnit"/>

      <xs:element name="SaveBaUnitResponse" type="tns:SaveBaUnitResponse"/>

      <xs:element name="TerminateBaUnit" type="tns:TerminateBaUnit"/>

      <xs:element name="TerminateBaUnitResponse" type="tns:TerminateBaUnitResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:complexType name="CreateBaUnit">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="baUnitTO" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateBaUnitResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateBaUnitArea">
        <xs:sequence>
          <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
          <xs:element name="baUnitTO" type="ns3:baUnitAreaTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateBaUnitAreaResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitAreaTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitAreas">
        <xs:sequence>
          <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitAreasResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitAreaTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitWithCadObject">
        <xs:sequence>
          <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
          <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
          <xs:element name="colist" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitWithCadObjectResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitByCode">
        <xs:sequence>
          <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
          <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitByCodeResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitById">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CancelBaUnitTermination">
        <xs:sequence>
          <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CancelBaUnitTerminationResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveBaUnit">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="baUnitTO" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveBaUnitResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitsByServiceId">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitsByServiceIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminateBaUnit">
        <xs:sequence>
          <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminateBaUnitResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns7:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns8="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="documentTO">
        <xs:complexContent>
          <xs:extension base="ns8:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="extension" type="xs:string" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/cadastre/" xmlns:tns="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns9="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="cadastreObjectTO">
        <xs:complexContent>
          <xs:extension base="ns9:abstractIdTO">
            <xs:sequence>
              <xs:element name="approvalDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="geomPolygon" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="historicDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceReference" type="xs:string" minOccurs="0"/>
              <xs:element name="spatialValueAreaList" type="tns:spatialValueAreaTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialValueAreaTO">
        <xs:complexContent>
          <xs:extension base="ns9:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="size" type="xs:decimal" minOccurs="0"/>
              <xs:element name="spatialUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/administrative/" xmlns:tns="http://webservices.sola.org/transferobjects/administrative/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns13="http://webservices.sola.org/transferobjects/" xmlns:ns10="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns11="http://webservices.sola.org/transferobjects/casemanagement/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="baUnitTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractIdTO">
            <xs:sequence>
              <xs:element name="baUnitNotationList" type="tns:baUnitNotationTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="cadastreObjectList" type="ns10:cadastreObjectTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="calculatedAreaSize" type="xs:decimal" minOccurs="0"/>
              <xs:element name="childBaUnits" type="tns:relatedBaUnitInfoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="parentBaUnits" type="tns:relatedBaUnitInfoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="pendingActionCode" type="xs:string" minOccurs="0"/>
              <xs:element name="rrrList" type="tns:rrrTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="sourceList" type="ns11:sourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitNotationTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractIdTO">
            <xs:sequence>
              <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="changeTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="notationText" type="xs:string" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="relatedBaUnitInfoTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="relatedBaUnit" type="tns:baUnitBasicTO" minOccurs="0"/>
              <xs:element name="relatedBaUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="relationCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitBasicTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractIdTO">
            <xs:sequence>
              <xs:element name="concatenatedName" type="xs:string" minOccurs="0"/>
              <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="mortgageAmount" type="xs:decimal" minOccurs="0"/>
              <xs:element name="mortgageInterestRate" type="xs:decimal" minOccurs="0"/>
              <xs:element name="mortgageRanking" type="xs:int" minOccurs="0"/>
              <xs:element name="mortgageTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="notation" type="tns:baUnitNotationTO" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
              <xs:element name="primary" type="xs:boolean"/>
              <xs:element name="registrationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="rightHolderList" type="ns11:partySummaryTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="rrrShareList" type="tns:rrrShareTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="share" type="xs:double" minOccurs="0"/>
              <xs:element name="sourceList" type="ns11:sourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrShareTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="denominator" type="xs:short" minOccurs="0"/>
              <xs:element name="nominator" type="xs:short" minOccurs="0"/>
              <xs:element name="rightHolderList" type="ns11:partySummaryTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="rrrId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitAreaTO">
        <xs:complexContent>
          <xs:extension base="ns13:abstractIdTO">
            <xs:sequence>
              <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="calculatedAreaSize" type="xs:decimal" minOccurs="0"/>
              <xs:element name="size" type="xs:decimal" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="TerminateBaUnit">
    <part name="parameters" element="tns:TerminateBaUnit"/>
  </message>
  <message name="TerminateBaUnitResponse">
    <part name="parameters" element="tns:TerminateBaUnitResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="SOLAValidationFault">
    <part name="fault" element="tns:SOLAValidationFault"/>
  </message>
  <message name="CancelBaUnitTermination">
    <part name="parameters" element="tns:CancelBaUnitTermination"/>
  </message>
  <message name="CancelBaUnitTerminationResponse">
    <part name="parameters" element="tns:CancelBaUnitTerminationResponse"/>
  </message>
  <message name="GetBaUnitById">
    <part name="parameters" element="tns:GetBaUnitById"/>
  </message>
  <message name="GetBaUnitByIdResponse">
    <part name="parameters" element="tns:GetBaUnitByIdResponse"/>
  </message>
  <message name="GetBaUnitsByServiceId">
    <part name="parameters" element="tns:GetBaUnitsByServiceId"/>
  </message>
  <message name="GetBaUnitsByServiceIdResponse">
    <part name="parameters" element="tns:GetBaUnitsByServiceIdResponse"/>
  </message>
  <message name="GetBaUnitByCode">
    <part name="parameters" element="tns:GetBaUnitByCode"/>
  </message>
  <message name="GetBaUnitByCodeResponse">
    <part name="parameters" element="tns:GetBaUnitByCodeResponse"/>
  </message>
  <message name="GetBaUnitAreas">
    <part name="parameters" element="tns:GetBaUnitAreas"/>
  </message>
  <message name="GetBaUnitAreasResponse">
    <part name="parameters" element="tns:GetBaUnitAreasResponse"/>
  </message>
  <message name="CreateBaUnitArea">
    <part name="parameters" element="tns:CreateBaUnitArea"/>
  </message>
  <message name="CreateBaUnitAreaResponse">
    <part name="parameters" element="tns:CreateBaUnitAreaResponse"/>
  </message>
  <message name="GetBaUnitWithCadObject">
    <part name="parameters" element="tns:GetBaUnitWithCadObject"/>
  </message>
  <message name="GetBaUnitWithCadObjectResponse">
    <part name="parameters" element="tns:GetBaUnitWithCadObjectResponse"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="CreateBaUnit">
    <part name="parameters" element="tns:CreateBaUnit"/>
  </message>
  <message name="CreateBaUnitResponse">
    <part name="parameters" element="tns:CreateBaUnitResponse"/>
  </message>
  <message name="SaveBaUnit">
    <part name="parameters" element="tns:SaveBaUnit"/>
  </message>
  <message name="SaveBaUnitResponse">
    <part name="parameters" element="tns:SaveBaUnitResponse"/>
  </message>
  <portType name="Administrative">
    <operation name="TerminateBaUnit">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnitRequest" message="tns:TerminateBaUnit"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnitResponse" message="tns:TerminateBaUnitResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAValidationFault"/>
    </operation>
    <operation name="CancelBaUnitTermination">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTerminationRequest" message="tns:CancelBaUnitTermination"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTerminationResponse" message="tns:CancelBaUnitTerminationResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAValidationFault"/>
    </operation>
    <operation name="GetBaUnitById">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdRequest" message="tns:GetBaUnitById"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdResponse" message="tns:GetBaUnitByIdResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetBaUnitsByServiceId">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdRequest" message="tns:GetBaUnitsByServiceId"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdResponse" message="tns:GetBaUnitsByServiceIdResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBaUnitByCode">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeRequest" message="tns:GetBaUnitByCode"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeResponse" message="tns:GetBaUnitByCodeResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetBaUnitAreas">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasRequest" message="tns:GetBaUnitAreas"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasResponse" message="tns:GetBaUnitAreasResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/UnhandledFault"/>
    </operation>
    <operation name="CreateBaUnitArea">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaRequest" message="tns:CreateBaUnitArea"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaResponse" message="tns:CreateBaUnitAreaResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/OptimisticLockingFault"/>
    </operation>
    <operation name="GetBaUnitWithCadObject">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectRequest" message="tns:GetBaUnitWithCadObject"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectResponse" message="tns:GetBaUnitWithCadObjectResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/UnhandledFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="CreateBaUnit">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitRequest" message="tns:CreateBaUnit"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitResponse" message="tns:CreateBaUnitResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/OptimisticLockingFault"/>
    </operation>
    <operation name="SaveBaUnit">
      <input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitRequest" message="tns:SaveBaUnit"/>
      <output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitResponse" message="tns:SaveBaUnitResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/OptimisticLockingFault"/>
    </operation>
  </portType>
  <binding name="AdministrativePortBinding" type="tns:Administrative">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="TerminateBaUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CancelBaUnitTermination">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitsByServiceId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitByCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitAreas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CreateBaUnitArea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitWithCadObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateBaUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveBaUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="administrative-service">
    <port name="AdministrativePort" binding="tns:AdministrativePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

