BoundaryWebServiceClients/GeneratedCode/wsdl/DigitalarchiveService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/digitalarchive" name="digitalarchive-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/digitalarchive" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns1:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns2="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="documentBinaryTO">
        <xs:complexContent>
          <xs:extension base="tns:documentTO">
            <xs:sequence>
              <xs:element name="fileName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="documentTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="extension" type="xs:string" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="fileInfoTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractTO">
            <xs:sequence>
              <xs:element name="fileSize" type="xs:long"/>
              <xs:element name="modificationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="fileBinaryTO">
        <xs:complexContent>
          <xs:extension base="tns:fileInfoTO">
            <xs:sequence>
              <xs:element name="content" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/digitalarchive" xmlns:ns4="http://webservices.sola.org/faults/" xmlns:ns3="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="CreateDocument" type="tns:CreateDocument"/>

      <xs:element name="CreateDocumentFromServer" type="tns:CreateDocumentFromServer"/>

      <xs:element name="CreateDocumentFromServerResponse" type="tns:CreateDocumentFromServerResponse"/>

      <xs:element name="CreateDocumentResponse" type="tns:CreateDocumentResponse"/>

      <xs:element name="DeleteFile" type="tns:DeleteFile"/>

      <xs:element name="DeleteFileResponse" type="tns:DeleteFileResponse"/>

      <xs:element name="GetAllFiles" type="tns:GetAllFiles"/>

      <xs:element name="GetAllFilesResponse" type="tns:GetAllFilesResponse"/>

      <xs:element name="GetDocument" type="tns:GetDocument"/>

      <xs:element name="GetDocumentResponse" type="tns:GetDocumentResponse"/>

      <xs:element name="GetFileBinary" type="tns:GetFileBinary"/>

      <xs:element name="GetFileBinaryResponse" type="tns:GetFileBinaryResponse"/>

      <xs:element name="GetFileThumbnail" type="tns:GetFileThumbnail"/>

      <xs:element name="GetFileThumbnailResponse" type="tns:GetFileThumbnailResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:element name="SaveDocument" type="tns:SaveDocument"/>

      <xs:element name="SaveDocumentResponse" type="tns:SaveDocumentResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns4:faultInfoBean"/>

      <xs:complexType name="CreateDocument">
        <xs:sequence>
          <xs:element name="documentTO" type="ns3:documentBinaryTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateDocumentResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:documentTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateDocumentFromServer">
        <xs:sequence>
          <xs:element name="documentTO" type="ns3:documentTO" minOccurs="0"/>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CreateDocumentFromServerResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:documentTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeleteFile">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeleteFileResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetFileBinary">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetFileBinaryResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:fileInfoTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAllFiles">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetAllFilesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:fileInfoTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetFileThumbnail">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetFileThumbnailResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:fileBinaryTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetDocument">
        <xs:sequence>
          <xs:element name="documentId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetDocumentResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:documentBinaryTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveDocument">
        <xs:sequence>
          <xs:element name="documentTO" type="ns3:documentTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveDocumentResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:documentTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="DeleteFile">
    <part name="parameters" element="tns:DeleteFile"/>
  </message>
  <message name="DeleteFileResponse">
    <part name="parameters" element="tns:DeleteFileResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="CreateDocument">
    <part name="parameters" element="tns:CreateDocument"/>
  </message>
  <message name="CreateDocumentResponse">
    <part name="parameters" element="tns:CreateDocumentResponse"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="CreateDocumentFromServer">
    <part name="parameters" element="tns:CreateDocumentFromServer"/>
  </message>
  <message name="CreateDocumentFromServerResponse">
    <part name="parameters" element="tns:CreateDocumentFromServerResponse"/>
  </message>
  <message name="GetFileBinary">
    <part name="parameters" element="tns:GetFileBinary"/>
  </message>
  <message name="GetFileBinaryResponse">
    <part name="parameters" element="tns:GetFileBinaryResponse"/>
  </message>
  <message name="GetFileThumbnail">
    <part name="parameters" element="tns:GetFileThumbnail"/>
  </message>
  <message name="GetFileThumbnailResponse">
    <part name="parameters" element="tns:GetFileThumbnailResponse"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="GetAllFiles">
    <part name="parameters" element="tns:GetAllFiles"/>
  </message>
  <message name="GetAllFilesResponse">
    <part name="parameters" element="tns:GetAllFilesResponse"/>
  </message>
  <message name="SaveDocument">
    <part name="parameters" element="tns:SaveDocument"/>
  </message>
  <message name="SaveDocumentResponse">
    <part name="parameters" element="tns:SaveDocumentResponse"/>
  </message>
  <message name="GetDocument">
    <part name="parameters" element="tns:GetDocument"/>
  </message>
  <message name="GetDocumentResponse">
    <part name="parameters" element="tns:GetDocumentResponse"/>
  </message>
  <portType name="DigitalArchive">
    <operation name="DeleteFile">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFileRequest" message="tns:DeleteFile"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFileResponse" message="tns:DeleteFileResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFile/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFile/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFile/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CreateDocument">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentRequest" message="tns:CreateDocument"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentResponse" message="tns:CreateDocumentResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/UnhandledFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CreateDocumentFromServer">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServerRequest" message="tns:CreateDocumentFromServer"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServerResponse" message="tns:CreateDocumentFromServerResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/UnhandledFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetFileBinary">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinaryRequest" message="tns:GetFileBinary"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinaryResponse" message="tns:GetFileBinaryResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinary/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinary/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinary/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetFileThumbnail">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnailRequest" message="tns:GetFileThumbnail"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnailResponse" message="tns:GetFileThumbnailResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnail/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnail/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnail/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="GetAllFiles">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFilesRequest" message="tns:GetAllFiles"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFilesResponse" message="tns:GetAllFilesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFiles/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFiles/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFiles/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveDocument">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocumentRequest" message="tns:SaveDocument"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocumentResponse" message="tns:SaveDocumentResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/UnhandledFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetDocument">
      <input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocumentRequest" message="tns:GetDocument"/>
      <output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocumentResponse" message="tns:GetDocumentResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocument/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocument/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocument/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="DigitalArchivePortBinding" type="tns:DigitalArchive">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="DeleteFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CreateDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CreateDocumentFromServer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetFileBinary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetFileThumbnail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetAllFiles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="digitalarchive-service">
    <port name="DigitalArchivePort" binding="tns:DigitalArchivePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

