BoundaryWebServiceClients/GeneratedCode/wsdl/ExternalService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/external" name="external-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/external" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns2="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:complexType name="partySummaryTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="extId" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="acceptance" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="archiveDocument" type="ns2:documentTO" minOccurs="0"/>
              <xs:element name="archiveDocumentId" type="xs:string" minOccurs="0"/>
              <xs:element name="archiveId" type="xs:string" minOccurs="0"/>
              <xs:element name="availabilityStatusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="content" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="laNr" type="xs:string" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="mainType" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
              <xs:element name="recordation" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="submission" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns3="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="documentTO">
        <xs:complexContent>
          <xs:extension base="ns3:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="extension" type="xs:string" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns4="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/cadastre/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="cadastreObjectTO">
        <xs:complexContent>
          <xs:extension base="ns4:abstractIdTO">
            <xs:sequence>
              <xs:element name="approvalDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="geomPolygon" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="historicDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceReference" type="xs:string" minOccurs="0"/>
              <xs:element name="spatialValueAreaList" type="tns:spatialValueAreaTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialValueAreaTO">
        <xs:complexContent>
          <xs:extension base="ns4:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="size" type="xs:decimal" minOccurs="0"/>
              <xs:element name="spatialUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns5:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/external" xmlns:ns9="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://webservices.sola.org/transferobjects/external" xmlns:ns7="http://webservices.sola.org/transferobjects/administrative/" xmlns:ns10="http://webservices.sola.org/faults/" xmlns:ns8="http://webservices.sola.org/transferobjects/cadastre/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/external"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/administrative/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns10:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns10:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns10:faultInfoBean"/>

      <xs:element name="SOLAValidationFault" nillable="true" type="ns10:faultInfoBean"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns10:faultInfoBean"/>

      <xs:element name="checkConnection" type="tns:checkConnection"/>

      <xs:element name="checkConnectionResponse" type="tns:checkConnectionResponse"/>

      <xs:element name="getClient" type="tns:getClient"/>

      <xs:element name="getClientRequests" type="tns:getClientRequests"/>

      <xs:element name="getClientRequestsResponse" type="tns:getClientRequestsResponse"/>

      <xs:element name="getClientResponse" type="tns:getClientResponse"/>

      <xs:element name="makeRequest" type="tns:makeRequest"/>

      <xs:element name="makeRequestResponse" type="tns:makeRequestResponse"/>

      <xs:element name="saveClient" type="tns:saveClient"/>

      <xs:element name="saveClientResponse" type="tns:saveClientResponse"/>

      <xs:complexType name="getClient">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getClientResponse">
        <xs:sequence>
          <xs:element name="return" type="ns6:clientTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="makeRequest">
        <xs:sequence>
          <xs:element name="nameFirstPart" type="xs:string" minOccurs="0"/>
          <xs:element name="nameLastPart" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="makeRequestResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:baUnitTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getClientRequests">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getClientRequestsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns6:requestTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="saveClient">
        <xs:sequence>
          <xs:element name="client" type="ns6:clientTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="saveClientResponse">
        <xs:sequence>
          <xs:element name="return" type="ns6:clientTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="checkConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/administrative/" xmlns:ns14="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/administrative/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns13="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns11="http://webservices.sola.org/transferobjects/cadastre/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="baUnitTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractIdTO">
            <xs:sequence>
              <xs:element name="baUnitNotationList" type="tns:baUnitNotationTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="cadastreObjectList" type="ns11:cadastreObjectTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="calculatedAreaSize" type="xs:decimal" minOccurs="0"/>
              <xs:element name="childBaUnits" type="tns:relatedBaUnitInfoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="parentBaUnits" type="tns:relatedBaUnitInfoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="pendingActionCode" type="xs:string" minOccurs="0"/>
              <xs:element name="rrrList" type="tns:rrrTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="sourceList" type="ns12:sourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitNotationTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractIdTO">
            <xs:sequence>
              <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="changeTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="notationText" type="xs:string" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="relatedBaUnitInfoTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="relatedBaUnit" type="tns:baUnitBasicTO" minOccurs="0"/>
              <xs:element name="relatedBaUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="relationCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitBasicTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractIdTO">
            <xs:sequence>
              <xs:element name="concatenatedName" type="xs:string" minOccurs="0"/>
              <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="mortgageAmount" type="xs:decimal" minOccurs="0"/>
              <xs:element name="mortgageInterestRate" type="xs:decimal" minOccurs="0"/>
              <xs:element name="mortgageRanking" type="xs:int" minOccurs="0"/>
              <xs:element name="mortgageTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="notation" type="tns:baUnitNotationTO" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
              <xs:element name="primary" type="xs:boolean"/>
              <xs:element name="registrationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="rightHolderList" type="ns12:partySummaryTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="rrrShareList" type="tns:rrrShareTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="share" type="xs:double" minOccurs="0"/>
              <xs:element name="sourceList" type="ns12:sourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrShareTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="denominator" type="xs:short" minOccurs="0"/>
              <xs:element name="nominator" type="xs:short" minOccurs="0"/>
              <xs:element name="rightHolderList" type="ns12:partySummaryTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="rrrId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/external" xmlns:ns15="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/external" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="clientTO">
        <xs:complexContent>
          <xs:extension base="ns15:abstractIdTO">
            <xs:sequence>
              <xs:element name="balance" type="xs:decimal" minOccurs="0"/>
              <xs:element name="contacts" type="tns:contactTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="userId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contactTO">
        <xs:complexContent>
          <xs:extension base="ns15:abstractIdTO">
            <xs:sequence>
              <xs:element name="clientId" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="requestTO">
        <xs:complexContent>
          <xs:extension base="ns15:abstractIdTO">
            <xs:sequence>
              <xs:element name="clientId" type="xs:string" minOccurs="0"/>
              <xs:element name="cost" type="xs:decimal" minOccurs="0"/>
              <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="nameFirstPart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastPart" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="checkConnection">
    <part name="parameters" element="tns:checkConnection"/>
  </message>
  <message name="checkConnectionResponse">
    <part name="parameters" element="tns:checkConnectionResponse"/>
  </message>
  <message name="getClientRequests">
    <part name="parameters" element="tns:getClientRequests"/>
  </message>
  <message name="getClientRequestsResponse">
    <part name="parameters" element="tns:getClientRequestsResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="getClient">
    <part name="parameters" element="tns:getClient"/>
  </message>
  <message name="getClientResponse">
    <part name="parameters" element="tns:getClientResponse"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="makeRequest">
    <part name="parameters" element="tns:makeRequest"/>
  </message>
  <message name="makeRequestResponse">
    <part name="parameters" element="tns:makeRequestResponse"/>
  </message>
  <message name="saveClient">
    <part name="parameters" element="tns:saveClient"/>
  </message>
  <message name="saveClientResponse">
    <part name="parameters" element="tns:saveClientResponse"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="SOLAValidationFault">
    <part name="fault" element="tns:SOLAValidationFault"/>
  </message>
  <portType name="External">
    <operation name="checkConnection">
      <input wsam:Action="http://webservices.sola.org/external/External/checkConnectionRequest" message="tns:checkConnection"/>
      <output wsam:Action="http://webservices.sola.org/external/External/checkConnectionResponse" message="tns:checkConnectionResponse"/>
    </operation>
    <operation name="getClientRequests">
      <input wsam:Action="http://webservices.sola.org/external/External/getClientRequestsRequest" message="tns:getClientRequests"/>
      <output wsam:Action="http://webservices.sola.org/external/External/getClientRequestsResponse" message="tns:getClientRequestsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/getClientRequests/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/getClientRequests/Fault/UnhandledFault"/>
    </operation>
    <operation name="getClient">
      <input wsam:Action="http://webservices.sola.org/external/External/getClientRequest" message="tns:getClient"/>
      <output wsam:Action="http://webservices.sola.org/external/External/getClientResponse" message="tns:getClientResponse"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/SOLAAccessFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/UnhandledFault"/>
    </operation>
    <operation name="makeRequest">
      <input wsam:Action="http://webservices.sola.org/external/External/makeRequestRequest" message="tns:makeRequest"/>
      <output wsam:Action="http://webservices.sola.org/external/External/makeRequestResponse" message="tns:makeRequestResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/makeRequest/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/makeRequest/Fault/UnhandledFault"/>
    </operation>
    <operation name="saveClient">
      <input wsam:Action="http://webservices.sola.org/external/External/saveClientRequest" message="tns:saveClient"/>
      <output wsam:Action="http://webservices.sola.org/external/External/saveClientResponse" message="tns:saveClientResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAValidationFault"/>
    </operation>
  </portType>
  <binding name="ExternalPortBinding" type="tns:External">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="checkConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getClientRequests">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="makeRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="saveClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="external-service">
    <port name="ExternalPort" binding="tns:ExternalPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

