BoundaryWebServiceClients/GeneratedCode/wsdl/ReferencedataService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/referencedata" name="referencedata-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/referencedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns1:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractCodeTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="displayValue" type="xs:string" minOccurs="0"/>
              <xs:element name="status" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/referencedata/" xmlns:ns2="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/referencedata/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="baUnitTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brSeverityTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="propertyTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="genderTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="stateTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="requestTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence>
              <xs:element name="areaBaseFee" type="xs:decimal" minOccurs="0"/>
              <xs:element name="baseFee" type="xs:decimal" minOccurs="0"/>
              <xs:element name="notationTemplate" type="xs:string" minOccurs="0"/>
              <xs:element name="nrDaysToComplete" type="xs:int"/>
              <xs:element name="nrPropertiesRequired" type="xs:int"/>
              <xs:element name="requestCategoryCode" type="xs:string" minOccurs="0"/>
              <xs:element name="rrrTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceTypeCodes" type="tns:requestTypeSourceTypeTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="typeActionCode" type="xs:string" minOccurs="0"/>
              <xs:element name="valueBaseFee" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="requestTypeSourceTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="requestTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceTypeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brTechnicalTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="requestCategoryTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrGroupTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationActionTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="capacityTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="lgaTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence>
              <xs:element name="stateId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="mortgageTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="partyRoleTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serviceActionTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence>
              <xs:element name="forRegistration" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="availabilityStatusTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationStatusTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="occupationTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="communicationTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brValidationTargetTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="titleTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="idTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="registrationStatusTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="changeStatusTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="cadastreObjectTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="typeActionTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rrrTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence>
              <xs:element name="partyRequired" type="xs:boolean"/>
              <xs:element name="primary" type="xs:boolean"/>
              <xs:element name="rrrGroupTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="shareCheck" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serviceStatusTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="useTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="presentationFormTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitRelTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="homeTownTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence>
              <xs:element name="lgaId" type="xs:string" minOccurs="0"/>
              <xs:element name="stateId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceBaUnitRelationTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="partyTypeTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractCodeTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/referencedata" xmlns:ns4="http://webservices.sola.org/transferobjects/" xmlns:ns3="http://webservices.sola.org/transferobjects/referencedata/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/faults/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/referencedata/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetApplicationActionTypes" type="tns:GetApplicationActionTypes"/>

      <xs:element name="GetApplicationActionTypesResponse" type="tns:GetApplicationActionTypesResponse"/>

      <xs:element name="GetApplicationStatusTypes" type="tns:GetApplicationStatusTypes"/>

      <xs:element name="GetApplicationStatusTypesResponse" type="tns:GetApplicationStatusTypesResponse"/>

      <xs:element name="GetAvailabilityStatusList" type="tns:GetAvailabilityStatusList"/>

      <xs:element name="GetAvailabilityStatusListResponse" type="tns:GetAvailabilityStatusListResponse"/>

      <xs:element name="GetBaUnitRelTypes" type="tns:GetBaUnitRelTypes"/>

      <xs:element name="GetBaUnitRelTypesResponse" type="tns:GetBaUnitRelTypesResponse"/>

      <xs:element name="GetBaUnitTypes" type="tns:GetBaUnitTypes"/>

      <xs:element name="GetBaUnitTypesResponse" type="tns:GetBaUnitTypesResponse"/>

      <xs:element name="GetBrSeverityTypes" type="tns:GetBrSeverityTypes"/>

      <xs:element name="GetBrSeverityTypesResponse" type="tns:GetBrSeverityTypesResponse"/>

      <xs:element name="GetBrTechnicalTypes" type="tns:GetBrTechnicalTypes"/>

      <xs:element name="GetBrTechnicalTypesResponse" type="tns:GetBrTechnicalTypesResponse"/>

      <xs:element name="GetBrValidationTargetTypes" type="tns:GetBrValidationTargetTypes"/>

      <xs:element name="GetBrValidationTargetTypesResponse" type="tns:GetBrValidationTargetTypesResponse"/>

      <xs:element name="GetCadastreObjectTypes" type="tns:GetCadastreObjectTypes"/>

      <xs:element name="GetCadastreObjectTypesResponse" type="tns:GetCadastreObjectTypesResponse"/>

      <xs:element name="GetCapacityTypes" type="tns:GetCapacityTypes"/>

      <xs:element name="GetCapacityTypesResponse" type="tns:GetCapacityTypesResponse"/>

      <xs:element name="GetChangeStatuTypes" type="tns:GetChangeStatuTypes"/>

      <xs:element name="GetChangeStatuTypesResponse" type="tns:GetChangeStatuTypesResponse"/>

      <xs:element name="GetCommunicationTypes" type="tns:GetCommunicationTypes"/>

      <xs:element name="GetCommunicationTypesResponse" type="tns:GetCommunicationTypesResponse"/>

      <xs:element name="GetGenderTypes" type="tns:GetGenderTypes"/>

      <xs:element name="GetGenderTypesResponse" type="tns:GetGenderTypesResponse"/>

      <xs:element name="GetHomeTownTypes" type="tns:GetHomeTownTypes"/>

      <xs:element name="GetHomeTownTypesResponse" type="tns:GetHomeTownTypesResponse"/>

      <xs:element name="GetIdTypes" type="tns:GetIdTypes"/>

      <xs:element name="GetIdTypesResponse" type="tns:GetIdTypesResponse"/>

      <xs:element name="GetLgaTypes" type="tns:GetLgaTypes"/>

      <xs:element name="GetLgaTypesResponse" type="tns:GetLgaTypesResponse"/>

      <xs:element name="GetMortgageTypes" type="tns:GetMortgageTypes"/>

      <xs:element name="GetMortgageTypesResponse" type="tns:GetMortgageTypesResponse"/>

      <xs:element name="GetOccupationTypes" type="tns:GetOccupationTypes"/>

      <xs:element name="GetOccupationTypesResponse" type="tns:GetOccupationTypesResponse"/>

      <xs:element name="GetPartyRoles" type="tns:GetPartyRoles"/>

      <xs:element name="GetPartyRolesResponse" type="tns:GetPartyRolesResponse"/>

      <xs:element name="GetPartyTypes" type="tns:GetPartyTypes"/>

      <xs:element name="GetPartyTypesResponse" type="tns:GetPartyTypesResponse"/>

      <xs:element name="GetPresentationFormTypes" type="tns:GetPresentationFormTypes"/>

      <xs:element name="GetPresentationFormTypesResponse" type="tns:GetPresentationFormTypesResponse"/>

      <xs:element name="GetPropertyTypes" type="tns:GetPropertyTypes"/>

      <xs:element name="GetPropertyTypesResponse" type="tns:GetPropertyTypesResponse"/>

      <xs:element name="GetRRRGroupTypes" type="tns:GetRRRGroupTypes"/>

      <xs:element name="GetRRRGroupTypesResponse" type="tns:GetRRRGroupTypesResponse"/>

      <xs:element name="GetRRRTypes" type="tns:GetRRRTypes"/>

      <xs:element name="GetRRRTypesResponse" type="tns:GetRRRTypesResponse"/>

      <xs:element name="GetRegistrationStatusTypes" type="tns:GetRegistrationStatusTypes"/>

      <xs:element name="GetRegistrationStatusTypesResponse" type="tns:GetRegistrationStatusTypesResponse"/>

      <xs:element name="GetRequestCategoryTypes" type="tns:GetRequestCategoryTypes"/>

      <xs:element name="GetRequestCategoryTypesResponse" type="tns:GetRequestCategoryTypesResponse"/>

      <xs:element name="GetRequestTypes" type="tns:GetRequestTypes"/>

      <xs:element name="GetRequestTypesResponse" type="tns:GetRequestTypesResponse"/>

      <xs:element name="GetServiceActionTypes" type="tns:GetServiceActionTypes"/>

      <xs:element name="GetServiceActionTypesResponse" type="tns:GetServiceActionTypesResponse"/>

      <xs:element name="GetServiceStatusTypes" type="tns:GetServiceStatusTypes"/>

      <xs:element name="GetServiceStatusTypesResponse" type="tns:GetServiceStatusTypesResponse"/>

      <xs:element name="GetSourceBaUnitRelationTypes" type="tns:GetSourceBaUnitRelationTypes"/>

      <xs:element name="GetSourceBaUnitRelationTypesResponse" type="tns:GetSourceBaUnitRelationTypesResponse"/>

      <xs:element name="GetSourceTypes" type="tns:GetSourceTypes"/>

      <xs:element name="GetSourceTypesResponse" type="tns:GetSourceTypesResponse"/>

      <xs:element name="GetStateTypes" type="tns:GetStateTypes"/>

      <xs:element name="GetStateTypesResponse" type="tns:GetStateTypesResponse"/>

      <xs:element name="GetTitleTypes" type="tns:GetTitleTypes"/>

      <xs:element name="GetTitleTypesResponse" type="tns:GetTitleTypesResponse"/>

      <xs:element name="GetTypeActions" type="tns:GetTypeActions"/>

      <xs:element name="GetTypeActionsResponse" type="tns:GetTypeActionsResponse"/>

      <xs:element name="GetUseTypes" type="tns:GetUseTypes"/>

      <xs:element name="GetUseTypesResponse" type="tns:GetUseTypesResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="saveReferenceData" type="tns:saveReferenceData"/>

      <xs:element name="saveReferenceDataResponse" type="tns:saveReferenceDataResponse"/>

      <xs:complexType name="GetBaUnitTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrSeverityTypes">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrSeverityTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:brSeverityTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPropertyTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPropertyTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:propertyTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGenderTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetGenderTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:genderTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetStateTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetStateTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:stateTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRequestTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRequestTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:requestTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrTechnicalTypes">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrTechnicalTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:brTechnicalTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRequestCategoryTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRequestCategoryTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:requestCategoryTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRRRGroupTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRRRGroupTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:rrrGroupTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetApplicationActionTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetApplicationActionTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationActionTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCapacityTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCapacityTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:capacityTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetLgaTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetLgaTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:lgaTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMortgageTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMortgageTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:mortgageTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="saveReferenceData">
        <xs:sequence>
          <xs:element name="arg0" type="ns4:abstractCodeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="saveReferenceDataResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:abstractCodeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPartyRoles">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPartyRolesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:partyRoleTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetServiceActionTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetServiceActionTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:serviceActionTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSourceTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSourceTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:sourceTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAvailabilityStatusList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAvailabilityStatusListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:availabilityStatusTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetApplicationStatusTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetApplicationStatusTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationStatusTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetOccupationTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetOccupationTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:occupationTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCommunicationTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCommunicationTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:communicationTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrValidationTargetTypes">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBrValidationTargetTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:brValidationTargetTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTitleTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTitleTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:titleTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetIdTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetIdTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:idTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRegistrationStatusTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRegistrationStatusTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:registrationStatusTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetChangeStatuTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetChangeStatuTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:changeStatusTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:cadastreObjectTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTypeActions">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTypeActionsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:typeActionTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRRRTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetRRRTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:rrrTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetServiceStatusTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetServiceStatusTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:serviceStatusTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUseTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUseTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:useTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPresentationFormTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPresentationFormTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:presentationFormTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitRelTypes">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetBaUnitRelTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitRelTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetHomeTownTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetHomeTownTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:homeTownTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSourceBaUnitRelationTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSourceBaUnitRelationTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:sourceBaUnitRelationTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPartyTypes">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetPartyTypesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:partyTypeTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="GetPartyTypes">
    <part name="parameters" element="tns:GetPartyTypes"/>
  </message>
  <message name="GetPartyTypesResponse">
    <part name="parameters" element="tns:GetPartyTypesResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="GetPartyRoles">
    <part name="parameters" element="tns:GetPartyRoles"/>
  </message>
  <message name="GetPartyRolesResponse">
    <part name="parameters" element="tns:GetPartyRolesResponse"/>
  </message>
  <message name="GetBaUnitTypes">
    <part name="parameters" element="tns:GetBaUnitTypes"/>
  </message>
  <message name="GetBaUnitTypesResponse">
    <part name="parameters" element="tns:GetBaUnitTypesResponse"/>
  </message>
  <message name="GetServiceActionTypes">
    <part name="parameters" element="tns:GetServiceActionTypes"/>
  </message>
  <message name="GetServiceActionTypesResponse">
    <part name="parameters" element="tns:GetServiceActionTypesResponse"/>
  </message>
  <message name="GetSourceTypes">
    <part name="parameters" element="tns:GetSourceTypes"/>
  </message>
  <message name="GetSourceTypesResponse">
    <part name="parameters" element="tns:GetSourceTypesResponse"/>
  </message>
  <message name="GetApplicationStatusTypes">
    <part name="parameters" element="tns:GetApplicationStatusTypes"/>
  </message>
  <message name="GetApplicationStatusTypesResponse">
    <part name="parameters" element="tns:GetApplicationStatusTypesResponse"/>
  </message>
  <message name="GetServiceStatusTypes">
    <part name="parameters" element="tns:GetServiceStatusTypes"/>
  </message>
  <message name="GetServiceStatusTypesResponse">
    <part name="parameters" element="tns:GetServiceStatusTypesResponse"/>
  </message>
  <message name="GetApplicationActionTypes">
    <part name="parameters" element="tns:GetApplicationActionTypes"/>
  </message>
  <message name="GetApplicationActionTypesResponse">
    <part name="parameters" element="tns:GetApplicationActionTypesResponse"/>
  </message>
  <message name="GetChangeStatuTypes">
    <part name="parameters" element="tns:GetChangeStatuTypes"/>
  </message>
  <message name="GetChangeStatuTypesResponse">
    <part name="parameters" element="tns:GetChangeStatuTypesResponse"/>
  </message>
  <message name="GetMortgageTypes">
    <part name="parameters" element="tns:GetMortgageTypes"/>
  </message>
  <message name="GetMortgageTypesResponse">
    <part name="parameters" element="tns:GetMortgageTypesResponse"/>
  </message>
  <message name="GetRRRGroupTypes">
    <part name="parameters" element="tns:GetRRRGroupTypes"/>
  </message>
  <message name="GetRRRGroupTypesResponse">
    <part name="parameters" element="tns:GetRRRGroupTypesResponse"/>
  </message>
  <message name="GetSourceBaUnitRelationTypes">
    <part name="parameters" element="tns:GetSourceBaUnitRelationTypes"/>
  </message>
  <message name="GetSourceBaUnitRelationTypesResponse">
    <part name="parameters" element="tns:GetSourceBaUnitRelationTypesResponse"/>
  </message>
  <message name="GetRegistrationStatusTypes">
    <part name="parameters" element="tns:GetRegistrationStatusTypes"/>
  </message>
  <message name="GetRegistrationStatusTypesResponse">
    <part name="parameters" element="tns:GetRegistrationStatusTypesResponse"/>
  </message>
  <message name="GetCadastreObjectTypes">
    <part name="parameters" element="tns:GetCadastreObjectTypes"/>
  </message>
  <message name="GetCadastreObjectTypesResponse">
    <part name="parameters" element="tns:GetCadastreObjectTypesResponse"/>
  </message>
  <message name="GetTypeActions">
    <part name="parameters" element="tns:GetTypeActions"/>
  </message>
  <message name="GetTypeActionsResponse">
    <part name="parameters" element="tns:GetTypeActionsResponse"/>
  </message>
  <message name="GetHomeTownTypes">
    <part name="parameters" element="tns:GetHomeTownTypes"/>
  </message>
  <message name="GetHomeTownTypesResponse">
    <part name="parameters" element="tns:GetHomeTownTypesResponse"/>
  </message>
  <message name="GetStateTypes">
    <part name="parameters" element="tns:GetStateTypes"/>
  </message>
  <message name="GetStateTypesResponse">
    <part name="parameters" element="tns:GetStateTypesResponse"/>
  </message>
  <message name="GetTitleTypes">
    <part name="parameters" element="tns:GetTitleTypes"/>
  </message>
  <message name="GetTitleTypesResponse">
    <part name="parameters" element="tns:GetTitleTypesResponse"/>
  </message>
  <message name="GetOccupationTypes">
    <part name="parameters" element="tns:GetOccupationTypes"/>
  </message>
  <message name="GetOccupationTypesResponse">
    <part name="parameters" element="tns:GetOccupationTypesResponse"/>
  </message>
  <message name="GetBrTechnicalTypes">
    <part name="parameters" element="tns:GetBrTechnicalTypes"/>
  </message>
  <message name="GetBrTechnicalTypesResponse">
    <part name="parameters" element="tns:GetBrTechnicalTypesResponse"/>
  </message>
  <message name="GetBrValidationTargetTypes">
    <part name="parameters" element="tns:GetBrValidationTargetTypes"/>
  </message>
  <message name="GetBrValidationTargetTypesResponse">
    <part name="parameters" element="tns:GetBrValidationTargetTypesResponse"/>
  </message>
  <message name="GetBrSeverityTypes">
    <part name="parameters" element="tns:GetBrSeverityTypes"/>
  </message>
  <message name="GetBrSeverityTypesResponse">
    <part name="parameters" element="tns:GetBrSeverityTypesResponse"/>
  </message>
  <message name="GetBaUnitRelTypes">
    <part name="parameters" element="tns:GetBaUnitRelTypes"/>
  </message>
  <message name="GetBaUnitRelTypesResponse">
    <part name="parameters" element="tns:GetBaUnitRelTypesResponse"/>
  </message>
  <message name="saveReferenceData">
    <part name="parameters" element="tns:saveReferenceData"/>
  </message>
  <message name="saveReferenceDataResponse">
    <part name="parameters" element="tns:saveReferenceDataResponse"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="GetRequestCategoryTypes">
    <part name="parameters" element="tns:GetRequestCategoryTypes"/>
  </message>
  <message name="GetRequestCategoryTypesResponse">
    <part name="parameters" element="tns:GetRequestCategoryTypesResponse"/>
  </message>
  <message name="GetRequestTypes">
    <part name="parameters" element="tns:GetRequestTypes"/>
  </message>
  <message name="GetRequestTypesResponse">
    <part name="parameters" element="tns:GetRequestTypesResponse"/>
  </message>
  <message name="GetPresentationFormTypes">
    <part name="parameters" element="tns:GetPresentationFormTypes"/>
  </message>
  <message name="GetPresentationFormTypesResponse">
    <part name="parameters" element="tns:GetPresentationFormTypesResponse"/>
  </message>
  <message name="GetAvailabilityStatusList">
    <part name="parameters" element="tns:GetAvailabilityStatusList"/>
  </message>
  <message name="GetAvailabilityStatusListResponse">
    <part name="parameters" element="tns:GetAvailabilityStatusListResponse"/>
  </message>
  <message name="GetGenderTypes">
    <part name="parameters" element="tns:GetGenderTypes"/>
  </message>
  <message name="GetGenderTypesResponse">
    <part name="parameters" element="tns:GetGenderTypesResponse"/>
  </message>
  <message name="GetPropertyTypes">
    <part name="parameters" element="tns:GetPropertyTypes"/>
  </message>
  <message name="GetPropertyTypesResponse">
    <part name="parameters" element="tns:GetPropertyTypesResponse"/>
  </message>
  <message name="GetCapacityTypes">
    <part name="parameters" element="tns:GetCapacityTypes"/>
  </message>
  <message name="GetCapacityTypesResponse">
    <part name="parameters" element="tns:GetCapacityTypesResponse"/>
  </message>
  <message name="GetCommunicationTypes">
    <part name="parameters" element="tns:GetCommunicationTypes"/>
  </message>
  <message name="GetCommunicationTypesResponse">
    <part name="parameters" element="tns:GetCommunicationTypesResponse"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="GetLgaTypes">
    <part name="parameters" element="tns:GetLgaTypes"/>
  </message>
  <message name="GetLgaTypesResponse">
    <part name="parameters" element="tns:GetLgaTypesResponse"/>
  </message>
  <message name="GetRRRTypes">
    <part name="parameters" element="tns:GetRRRTypes"/>
  </message>
  <message name="GetRRRTypesResponse">
    <part name="parameters" element="tns:GetRRRTypesResponse"/>
  </message>
  <message name="GetIdTypes">
    <part name="parameters" element="tns:GetIdTypes"/>
  </message>
  <message name="GetIdTypesResponse">
    <part name="parameters" element="tns:GetIdTypesResponse"/>
  </message>
  <message name="GetUseTypes">
    <part name="parameters" element="tns:GetUseTypes"/>
  </message>
  <message name="GetUseTypesResponse">
    <part name="parameters" element="tns:GetUseTypesResponse"/>
  </message>
  <portType name="ReferenceData">
    <operation name="GetPartyTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesRequest" message="tns:GetPartyTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesResponse" message="tns:GetPartyTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetPartyRoles">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesRequest" message="tns:GetPartyRoles"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesResponse" message="tns:GetPartyRolesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBaUnitTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesRequest" message="tns:GetBaUnitTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesResponse" message="tns:GetBaUnitTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetServiceActionTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesRequest" message="tns:GetServiceActionTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesResponse" message="tns:GetServiceActionTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetSourceTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesRequest" message="tns:GetSourceTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesResponse" message="tns:GetSourceTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetApplicationStatusTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesRequest" message="tns:GetApplicationStatusTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesResponse" message="tns:GetApplicationStatusTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetServiceStatusTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesRequest" message="tns:GetServiceStatusTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesResponse" message="tns:GetServiceStatusTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetApplicationActionTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesRequest" message="tns:GetApplicationActionTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesResponse" message="tns:GetApplicationActionTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetChangeStatuTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesRequest" message="tns:GetChangeStatuTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesResponse" message="tns:GetChangeStatuTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetMortgageTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesRequest" message="tns:GetMortgageTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesResponse" message="tns:GetMortgageTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetRRRGroupTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesRequest" message="tns:GetRRRGroupTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesResponse" message="tns:GetRRRGroupTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetSourceBaUnitRelationTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesRequest" message="tns:GetSourceBaUnitRelationTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesResponse" message="tns:GetSourceBaUnitRelationTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetRegistrationStatusTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesRequest" message="tns:GetRegistrationStatusTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesResponse" message="tns:GetRegistrationStatusTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesRequest" message="tns:GetCadastreObjectTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesResponse" message="tns:GetCadastreObjectTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetTypeActions">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsRequest" message="tns:GetTypeActions"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsResponse" message="tns:GetTypeActionsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetHomeTownTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHomeTownTypesRequest" message="tns:GetHomeTownTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHomeTownTypesResponse" message="tns:GetHomeTownTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHomeTownTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHomeTownTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHomeTownTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetStateTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetStateTypesRequest" message="tns:GetStateTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetStateTypesResponse" message="tns:GetStateTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetStateTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetStateTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetStateTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetTitleTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTitleTypesRequest" message="tns:GetTitleTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTitleTypesResponse" message="tns:GetTitleTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTitleTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTitleTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTitleTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetOccupationTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOccupationTypesRequest" message="tns:GetOccupationTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOccupationTypesResponse" message="tns:GetOccupationTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOccupationTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOccupationTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOccupationTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBrTechnicalTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesRequest" message="tns:GetBrTechnicalTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesResponse" message="tns:GetBrTechnicalTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBrValidationTargetTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesRequest" message="tns:GetBrValidationTargetTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesResponse" message="tns:GetBrValidationTargetTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBrSeverityTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesRequest" message="tns:GetBrSeverityTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesResponse" message="tns:GetBrSeverityTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetBaUnitRelTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesRequest" message="tns:GetBaUnitRelTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesResponse" message="tns:GetBaUnitRelTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="saveReferenceData">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataRequest" message="tns:saveReferenceData"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataResponse" message="tns:saveReferenceDataResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAAccessFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/OptimisticLockingFault"/>
    </operation>
    <operation name="GetRequestCategoryTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesRequest" message="tns:GetRequestCategoryTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesResponse" message="tns:GetRequestCategoryTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetRequestTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesRequest" message="tns:GetRequestTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesResponse" message="tns:GetRequestTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetPresentationFormTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesRequest" message="tns:GetPresentationFormTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesResponse" message="tns:GetPresentationFormTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetAvailabilityStatusList">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListRequest" message="tns:GetAvailabilityStatusList"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListResponse" message="tns:GetAvailabilityStatusListResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetGenderTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesRequest" message="tns:GetGenderTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesResponse" message="tns:GetGenderTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetPropertyTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPropertyTypesRequest" message="tns:GetPropertyTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPropertyTypesResponse" message="tns:GetPropertyTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPropertyTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPropertyTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPropertyTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCapacityTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCapacityTypesRequest" message="tns:GetCapacityTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCapacityTypesResponse" message="tns:GetCapacityTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCapacityTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCapacityTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCapacityTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCommunicationTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesRequest" message="tns:GetCommunicationTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesResponse" message="tns:GetCommunicationTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="GetLgaTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLgaTypesRequest" message="tns:GetLgaTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLgaTypesResponse" message="tns:GetLgaTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLgaTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLgaTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLgaTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetRRRTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesRequest" message="tns:GetRRRTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesResponse" message="tns:GetRRRTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetIdTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesRequest" message="tns:GetIdTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesResponse" message="tns:GetIdTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetUseTypes">
      <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetUseTypesRequest" message="tns:GetUseTypes"/>
      <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetUseTypesResponse" message="tns:GetUseTypesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetUseTypes/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetUseTypes/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetUseTypes/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="ReferenceDataPortBinding" type="tns:ReferenceData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetPartyTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetPartyRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetServiceActionTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSourceTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetApplicationStatusTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetServiceStatusTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetApplicationActionTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetChangeStatuTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetMortgageTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRRRGroupTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSourceBaUnitRelationTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRegistrationStatusTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetTypeActions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetHomeTownTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetStateTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetTitleTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetOccupationTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBrTechnicalTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBrValidationTargetTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBrSeverityTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetBaUnitRelTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="saveReferenceData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRequestCategoryTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRequestTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetPresentationFormTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetAvailabilityStatusList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetGenderTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetPropertyTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCapacityTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCommunicationTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetLgaTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRRRTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetIdTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUseTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="referencedata-service">
    <port name="ReferenceDataPort" binding="tns:ReferenceDataPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

