BoundaryWebServiceClients/GeneratedCode/wsdl/SearchService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/search" name="search-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/search" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/security/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="userSummaryTO">
        <xs:complexContent>
          <xs:extension base="ns1:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="firstName" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:ns2="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns2:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/search" xmlns:ns4="http://jaxb.dev.java.net/array" xmlns:ns3="http://webservices.sola.org/transferobjects/search/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/transferobjects/" xmlns:ns6="http://webservices.sola.org/faults/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/search/"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetActiveUsers" type="tns:GetActiveUsers"/>

      <xs:element name="GetActiveUsersResponse" type="tns:GetActiveUsersResponse"/>

      <xs:element name="GetAssignedApplications" type="tns:GetAssignedApplications"/>

      <xs:element name="GetAssignedApplicationsResponse" type="tns:GetAssignedApplicationsResponse"/>

      <xs:element name="GetMapDefinition" type="tns:GetMapDefinition"/>

      <xs:element name="GetMapDefinitionResponse" type="tns:GetMapDefinitionResponse"/>

      <xs:element name="GetSpatialSearchOptions" type="tns:GetSpatialSearchOptions"/>

      <xs:element name="GetSpatialSearchOptionsResponse" type="tns:GetSpatialSearchOptionsResponse"/>

      <xs:element name="GetUnassignedApplications" type="tns:GetUnassignedApplications"/>

      <xs:element name="GetUnassignedApplicationsResponse" type="tns:GetUnassignedApplicationsResponse"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="SearchApplications" type="tns:SearchApplications"/>

      <xs:element name="SearchApplicationsResponse" type="tns:SearchApplicationsResponse"/>

      <xs:element name="SearchBr" type="tns:SearchBr"/>

      <xs:element name="SearchBrResponse" type="tns:SearchBrResponse"/>

      <xs:element name="SearchParties" type="tns:SearchParties"/>

      <xs:element name="SearchPartiesResponse" type="tns:SearchPartiesResponse"/>

      <xs:element name="SearchSources" type="tns:SearchSources"/>

      <xs:element name="SearchSourcesResponse" type="tns:SearchSourcesResponse"/>

      <xs:element name="SearchSpatialObjects" type="tns:SearchSpatialObjects"/>

      <xs:element name="SearchSpatialObjectsResponse" type="tns:SearchSpatialObjectsResponse"/>

      <xs:element name="Select" type="tns:Select"/>

      <xs:element name="SelectResponse" type="tns:SelectResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns6:faultInfoBean"/>

      <xs:element name="VerifyApplicationProperty" type="tns:VerifyApplicationProperty"/>

      <xs:element name="VerifyApplicationPropertyResponse" type="tns:VerifyApplicationPropertyResponse"/>

      <xs:element name="getApplicationLog" type="tns:getApplicationLog"/>

      <xs:element name="getApplicationLogResponse" type="tns:getApplicationLogResponse"/>

      <xs:element name="searchBaUnit" type="tns:searchBaUnit"/>

      <xs:element name="searchBaUnitResponse" type="tns:searchBaUnitResponse"/>

      <xs:element name="searchPowerOfAttorney" type="tns:searchPowerOfAttorney"/>

      <xs:element name="searchPowerOfAttorneyResponse" type="tns:searchPowerOfAttorneyResponse"/>

      <xs:element name="searchUsers" type="tns:searchUsers"/>

      <xs:element name="searchUsersResponse" type="tns:searchUsersResponse"/>

      <xs:complexType name="searchPowerOfAttorney">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:powerOfAttorneySearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchPowerOfAttorneyResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:powerOfAttorneySearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Select">
        <xs:sequence>
          <xs:element name="arg0" type="tns:queryForSelect" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryForSelect">
        <xs:complexContent>
          <xs:extension base="tns:query">
            <xs:sequence>
              <xs:element name="filteringGeometry" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="query">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="pixelResolution" type="xs:double"/>
          <xs:element name="queryName" type="xs:string" minOccurs="0"/>
          <xs:element name="srid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SelectResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultForSelectionInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultForSelectionInfo">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="result" type="tns:genericResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="genericResult">
        <xs:sequence>
          <xs:element name="fieldNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="values" type="ns4:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAssignedApplications">
        <xs:sequence>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAssignedApplicationsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchSpatialObjects">
        <xs:sequence>
          <xs:element name="queryName" type="xs:string" minOccurs="0"/>
          <xs:element name="searchString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchSpatialObjectsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:spatialSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialSearchOptions">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialSearchOptionsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:spatialSearchOptionTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="VerifyApplicationProperty">
        <xs:sequence>
          <xs:element name="applicationNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="firstPart" type="xs:string" minOccurs="0"/>
          <xs:element name="lastPart" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="VerifyApplicationPropertyResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:propertyVerifierTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchBaUnit">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:baUnitSearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchBaUnitResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:baUnitSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getApplicationLog">
        <xs:sequence>
          <xs:element name="applicationId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getApplicationLogResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationLogResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchBr">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:brSearchParamsTO" minOccurs="0"/>
          <xs:element name="lang" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchBrResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:brSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMapDefinition">
        <xs:sequence>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMapDefinitionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mapDefinitionTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapDefinitionTO">
        <xs:complexContent>
          <xs:extension base="ns5:abstractTO">
            <xs:sequence>
              <xs:element name="east" type="xs:double"/>
              <xs:element name="layers" type="tns:configMapLayerTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="north" type="xs:double"/>
              <xs:element name="snapTolerance" type="xs:double"/>
              <xs:element name="south" type="xs:double"/>
              <xs:element name="srid" type="xs:int"/>
              <xs:element name="surveyPointShiftRuralArea" type="xs:double"/>
              <xs:element name="surveyPointShiftUrbanArea" type="xs:double"/>
              <xs:element name="west" type="xs:double"/>
              <xs:element name="wktOfCrs" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="configMapLayerTO">
        <xs:complexContent>
          <xs:extension base="ns5:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="pojoQueryName" type="xs:string" minOccurs="0"/>
              <xs:element name="pojoQueryNameForSelect" type="xs:string" minOccurs="0"/>
              <xs:element name="pojoStructure" type="xs:string" minOccurs="0"/>
              <xs:element name="securityPassword" type="xs:string" minOccurs="0"/>
              <xs:element name="securityUser" type="xs:string" minOccurs="0"/>
              <xs:element name="shapeLocation" type="xs:string" minOccurs="0"/>
              <xs:element name="style" type="xs:string" minOccurs="0"/>
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="visible" type="xs:boolean"/>
              <xs:element name="wmsFormat" type="xs:string" minOccurs="0"/>
              <xs:element name="wmsLayers" type="xs:string" minOccurs="0"/>
              <xs:element name="wmsVersion" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="SearchApplications">
        <xs:sequence>
          <xs:element name="ApplicationSearchParamsTO" type="ns3:applicationSearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchApplicationsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchParties">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:partySearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchPartiesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:partySearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUnassignedApplications">
        <xs:sequence>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetUnassignedApplicationsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:applicationSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchUsers">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:userSearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchUsersResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:userSearchAdvancedResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetActiveUsers">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetActiveUsersResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:userSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchSources">
        <xs:sequence>
          <xs:element name="searchParams" type="ns3:sourceSearchParamsTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SearchSourcesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:sourceSearchResultTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/search/" xmlns:tns="http://webservices.sola.org/transferobjects/search/" xmlns:ns9="http://webservices.sola.org/transferobjects/cadastre/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://webservices.sola.org/transferobjects/" xmlns:ns10="http://webservices.sola.org/transferobjects/security/" xmlns:ns8="http://webservices.sola.org/transferobjects/casemanagement/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/security/"/>

      <xs:complexType name="powerOfAttorneySearchParamsTO">
        <xs:complexContent>
          <xs:extension base="tns:sourceSearchParamsTO">
            <xs:sequence>
              <xs:element name="attorneyName" type="xs:string" minOccurs="0"/>
              <xs:element name="personName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceSearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="fromRecordationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="fromSubmissionDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="laNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="locale" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
              <xs:element name="refNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="toRecordationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="toSubmissionDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="powerOfAttorneySearchResultTO">
        <xs:complexContent>
          <xs:extension base="tns:sourceSearchResultTO">
            <xs:sequence>
              <xs:element name="attorneyName" type="xs:string" minOccurs="0"/>
              <xs:element name="personName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sourceSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns8:sourceSummaryTO">
            <xs:sequence>
              <xs:element name="statusDisplayValue" type="xs:string" minOccurs="0"/>
              <xs:element name="typeDisplayValue" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns8:applicationSummaryTO">
            <xs:sequence>
              <xs:element name="agent" type="xs:string" minOccurs="0"/>
              <xs:element name="assigneeId" type="xs:string" minOccurs="0"/>
              <xs:element name="assigneeName" type="xs:string" minOccurs="0"/>
              <xs:element name="contactPerson" type="xs:string" minOccurs="0"/>
              <xs:element name="serviceList" type="xs:string" minOccurs="0"/>
              <xs:element name="status" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="label" type="xs:string" minOccurs="0"/>
              <xs:element name="theGeom" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialSearchOptionTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="minSearchStrLen" type="xs:int"/>
              <xs:element name="queryName" type="xs:string" minOccurs="0"/>
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="zoomInBuffer" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="propertyVerifierTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="applicationsWhereFound" type="xs:string" minOccurs="0"/>
              <xs:element name="hasLocation" type="xs:boolean"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitSearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="nameFirstPart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastPart" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="baUnitSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstPart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastPart" type="xs:string" minOccurs="0"/>
              <xs:element name="rightholders" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationLogResultTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="actionType" type="xs:string" minOccurs="0"/>
              <xs:element name="changeTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="notation" type="xs:string" minOccurs="0"/>
              <xs:element name="number" type="xs:string" minOccurs="0"/>
              <xs:element name="recordGroup" type="xs:string" minOccurs="0"/>
              <xs:element name="recordId" type="xs:string" minOccurs="0"/>
              <xs:element name="recordSequence" type="xs:int"/>
              <xs:element name="recordType" type="xs:string" minOccurs="0"/>
              <xs:element name="userFullname" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brSearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="displayName" type="xs:string" minOccurs="0"/>
              <xs:element name="targetCode" type="xs:string" minOccurs="0"/>
              <xs:element name="technicalTypeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="brSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="displayName" type="xs:string" minOccurs="0"/>
              <xs:element name="feedback" type="xs:string" minOccurs="0"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="technicalTypeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationSearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="agent" type="xs:string" minOccurs="0"/>
              <xs:element name="contactPerson" type="xs:string" minOccurs="0"/>
              <xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="documentReference" type="xs:string" minOccurs="0"/>
              <xs:element name="fromDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="locale" type="xs:string" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
              <xs:element name="toDate" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="partySearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="roleTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="partySearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns9:partySummaryTO">
            <xs:sequence>
              <xs:element name="rightHolder" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userSearchParamsTO">
        <xs:complexContent>
          <xs:extension base="ns7:abstractTO">
            <xs:sequence>
              <xs:element name="firstName" type="xs:string" minOccurs="0"/>
              <xs:element name="groupId" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
              <xs:element name="userName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userSearchAdvancedResultTO">
        <xs:complexContent>
          <xs:extension base="ns10:userSummaryTO">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="groupsList" type="xs:string" minOccurs="0"/>
              <xs:element name="userName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="userSearchResultTO">
        <xs:complexContent>
          <xs:extension base="ns10:userSummaryTO">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/cadastre/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns11="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="partySummaryTO">
        <xs:complexContent>
          <xs:extension base="ns11:abstractBasicIdTO">
            <xs:sequence>
              <xs:element name="extId" type="xs:string" minOccurs="0"/>
              <xs:element name="lastName" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="sourceSummaryTO">
        <xs:complexContent>
          <xs:extension base="ns12:abstractBasicIdTO">
            <xs:sequence>
              <xs:element name="acceptance" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="archiveDocumentId" type="xs:string" minOccurs="0"/>
              <xs:element name="archiveId" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="laNr" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
              <xs:element name="recordation" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="submission" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="applicationSummaryTO">
        <xs:complexContent>
          <xs:extension base="ns12:abstractBasicIdTO">
            <xs:sequence>
              <xs:element name="agentId" type="xs:string" minOccurs="0"/>
              <xs:element name="assignedDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="contactPersonId" type="xs:string" minOccurs="0"/>
              <xs:element name="expectedCompletionDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="feePaid" type="xs:boolean"/>
              <xs:element name="lodgingDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="abstractBasicIdTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="searchPowerOfAttorney">
    <part name="parameters" element="tns:searchPowerOfAttorney"/>
  </message>
  <message name="searchPowerOfAttorneyResponse">
    <part name="parameters" element="tns:searchPowerOfAttorneyResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="GetActiveUsers">
    <part name="parameters" element="tns:GetActiveUsers"/>
  </message>
  <message name="GetActiveUsersResponse">
    <part name="parameters" element="tns:GetActiveUsersResponse"/>
  </message>
  <message name="getApplicationLog">
    <part name="parameters" element="tns:getApplicationLog"/>
  </message>
  <message name="getApplicationLogResponse">
    <part name="parameters" element="tns:getApplicationLogResponse"/>
  </message>
  <message name="GetSpatialSearchOptions">
    <part name="parameters" element="tns:GetSpatialSearchOptions"/>
  </message>
  <message name="GetSpatialSearchOptionsResponse">
    <part name="parameters" element="tns:GetSpatialSearchOptionsResponse"/>
  </message>
  <message name="SearchSpatialObjects">
    <part name="parameters" element="tns:SearchSpatialObjects"/>
  </message>
  <message name="SearchSpatialObjectsResponse">
    <part name="parameters" element="tns:SearchSpatialObjectsResponse"/>
  </message>
  <message name="GetMapDefinition">
    <part name="parameters" element="tns:GetMapDefinition"/>
  </message>
  <message name="GetMapDefinitionResponse">
    <part name="parameters" element="tns:GetMapDefinitionResponse"/>
  </message>
  <message name="Select">
    <part name="parameters" element="tns:Select"/>
  </message>
  <message name="SelectResponse">
    <part name="parameters" element="tns:SelectResponse"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="VerifyApplicationProperty">
    <part name="parameters" element="tns:VerifyApplicationProperty"/>
  </message>
  <message name="VerifyApplicationPropertyResponse">
    <part name="parameters" element="tns:VerifyApplicationPropertyResponse"/>
  </message>
  <message name="GetUnassignedApplications">
    <part name="parameters" element="tns:GetUnassignedApplications"/>
  </message>
  <message name="GetUnassignedApplicationsResponse">
    <part name="parameters" element="tns:GetUnassignedApplicationsResponse"/>
  </message>
  <message name="GetAssignedApplications">
    <part name="parameters" element="tns:GetAssignedApplications"/>
  </message>
  <message name="GetAssignedApplicationsResponse">
    <part name="parameters" element="tns:GetAssignedApplicationsResponse"/>
  </message>
  <message name="SearchApplications">
    <part name="parameters" element="tns:SearchApplications"/>
  </message>
  <message name="SearchApplicationsResponse">
    <part name="parameters" element="tns:SearchApplicationsResponse"/>
  </message>
  <message name="SearchParties">
    <part name="parameters" element="tns:SearchParties"/>
  </message>
  <message name="SearchPartiesResponse">
    <part name="parameters" element="tns:SearchPartiesResponse"/>
  </message>
  <message name="SearchSources">
    <part name="parameters" element="tns:SearchSources"/>
  </message>
  <message name="SearchSourcesResponse">
    <part name="parameters" element="tns:SearchSourcesResponse"/>
  </message>
  <message name="SearchBr">
    <part name="parameters" element="tns:SearchBr"/>
  </message>
  <message name="SearchBrResponse">
    <part name="parameters" element="tns:SearchBrResponse"/>
  </message>
  <message name="searchUsers">
    <part name="parameters" element="tns:searchUsers"/>
  </message>
  <message name="searchUsersResponse">
    <part name="parameters" element="tns:searchUsersResponse"/>
  </message>
  <message name="searchBaUnit">
    <part name="parameters" element="tns:searchBaUnit"/>
  </message>
  <message name="searchBaUnitResponse">
    <part name="parameters" element="tns:searchBaUnitResponse"/>
  </message>
  <portType name="Search">
    <operation name="searchPowerOfAttorney">
      <input wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorneyRequest" message="tns:searchPowerOfAttorney"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorneyResponse" message="tns:searchPowerOfAttorneyResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetActiveUsers">
      <input wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsersRequest" message="tns:GetActiveUsers"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsersResponse" message="tns:GetActiveUsersResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="getApplicationLog">
      <input wsam:Action="http://webservices.sola.org/search/Search/getApplicationLogRequest" message="tns:getApplicationLog"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/getApplicationLogResponse" message="tns:getApplicationLogResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetSpatialSearchOptions">
      <input wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptionsRequest" message="tns:GetSpatialSearchOptions"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptionsResponse" message="tns:GetSpatialSearchOptionsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SearchSpatialObjects">
      <input wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjectsRequest" message="tns:SearchSpatialObjects"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjectsResponse" message="tns:SearchSpatialObjectsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetMapDefinition">
      <input wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinitionRequest" message="tns:GetMapDefinition"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinitionResponse" message="tns:GetMapDefinitionResponse"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinition/Fault/UnhandledFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinition/Fault/SOLAFault"/>
    </operation>
    <operation name="Select">
      <input wsam:Action="http://webservices.sola.org/search/Search/SelectRequest" message="tns:Select"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SelectResponse" message="tns:SelectResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="VerifyApplicationProperty">
      <input wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyRequest" message="tns:VerifyApplicationProperty"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyResponse" message="tns:VerifyApplicationPropertyResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetUnassignedApplications">
      <input wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsRequest" message="tns:GetUnassignedApplications"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsResponse" message="tns:GetUnassignedApplicationsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetAssignedApplications">
      <input wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsRequest" message="tns:GetAssignedApplications"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsResponse" message="tns:GetAssignedApplicationsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SearchApplications">
      <input wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsRequest" message="tns:SearchApplications"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsResponse" message="tns:SearchApplicationsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SearchParties">
      <input wsam:Action="http://webservices.sola.org/search/Search/SearchPartiesRequest" message="tns:SearchParties"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SearchPartiesResponse" message="tns:SearchPartiesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SearchSources">
      <input wsam:Action="http://webservices.sola.org/search/Search/SearchSourcesRequest" message="tns:SearchSources"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SearchSourcesResponse" message="tns:SearchSourcesResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SearchBr">
      <input wsam:Action="http://webservices.sola.org/search/Search/SearchBrRequest" message="tns:SearchBr"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/SearchBrResponse" message="tns:SearchBrResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="searchUsers">
      <input wsam:Action="http://webservices.sola.org/search/Search/searchUsersRequest" message="tns:searchUsers"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/searchUsersResponse" message="tns:searchUsersResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="searchBaUnit">
      <input wsam:Action="http://webservices.sola.org/search/Search/searchBaUnitRequest" message="tns:searchBaUnit"/>
      <output wsam:Action="http://webservices.sola.org/search/Search/searchBaUnitResponse" message="tns:searchBaUnitResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="SearchPortBinding" type="tns:Search">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchPowerOfAttorney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetActiveUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getApplicationLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSpatialSearchOptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SearchSpatialObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetMapDefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Select">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="VerifyApplicationProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUnassignedApplications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetAssignedApplications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SearchApplications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SearchParties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SearchSources">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SearchBr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchBaUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="search-service">
    <port name="SearchPort" binding="tns:SearchPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

