BoundaryWebServiceClients/GeneratedCode/wsdl/SpatialService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="validationResult">
    <xs:sequence>
      <xs:element name="feedback" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="severity" type="xs:string" minOccurs="0"/>
      <xs:element name="successful" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

