BoundaryWebServiceClients/GeneratedCode/wsdl/SpatialService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/spatial" name="spatial-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/spatial" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns1:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/spatial" xmlns:ns2="http://webservices.sola.org/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetSpatialForNavigation" type="tns:GetSpatialForNavigation"/>

      <xs:element name="GetSpatialForNavigationResponse" type="tns:GetSpatialForNavigationResponse"/>

      <xs:element name="SOLAFault" nillable="true" type="ns2:faultInfoBean"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns2:faultInfoBean"/>

      <xs:complexType name="GetSpatialForNavigation">
        <xs:sequence>
          <xs:element name="arg0" type="tns:queryForNavigation" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryForNavigation">
        <xs:complexContent>
          <xs:extension base="tns:query">
            <xs:sequence>
              <xs:element name="east" type="xs:double"/>
              <xs:element name="fidsPresent" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="north" type="xs:double"/>
              <xs:element name="south" type="xs:double"/>
              <xs:element name="west" type="xs:double"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="query">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="pixelResolution" type="xs:double"/>
          <xs:element name="queryName" type="xs:string" minOccurs="0"/>
          <xs:element name="srid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialForNavigationResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultForNavigationInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultForNavigationInfo">
        <xs:sequence>
          <xs:element name="toAdd" type="tns:spatialResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="toRemove" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="spatialResult">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadOnlyEntity">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="label" type="xs:string" minOccurs="0"/>
              <xs:element name="theGeom" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadOnlyEntity" abstract="true">
        <xs:sequence>
          <xs:element name="loaded" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="GetSpatialForNavigation">
    <part name="parameters" element="tns:GetSpatialForNavigation"/>
  </message>
  <message name="GetSpatialForNavigationResponse">
    <part name="parameters" element="tns:GetSpatialForNavigationResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <portType name="Spatial">
    <operation name="GetSpatialForNavigation">
      <input wsam:Action="http://webservices.sola.org/spatial/Spatial/GetSpatialForNavigationRequest" message="tns:GetSpatialForNavigation"/>
      <output wsam:Action="http://webservices.sola.org/spatial/Spatial/GetSpatialForNavigationResponse" message="tns:GetSpatialForNavigationResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/spatial/Spatial/GetSpatialForNavigation/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/spatial/Spatial/GetSpatialForNavigation/Fault/UnhandledFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/spatial/Spatial/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/spatial/Spatial/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
  </portType>
  <binding name="SpatialPortBinding" type="tns:Spatial">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetSpatialForNavigation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="spatial-service">
    <port name="SpatialPort" binding="tns:SpatialPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

